.header{
    font-size: 40px;
    width: inherit;
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    /*background: url("./img/header.png") no-repeat ;*/

}